<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    	<p>
            I am an undergrad engineering student, currently in my junior year at the Delhi College Of Engineering, majoring in electronics. 
            While I have a passion for data science, and am exploring the vastness of this incredible field, my expertise lies in Python, having made myself comfortable with all machine learning libraries including Keras and Sklearn.
        </p>
        <p>
           I love finding the hidden correlation and casuation between things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real world problems with a business justification.
           I'm looking for a machine learning engineering internship where I can take on collaborative team responsibilites, and gain experience with
           deep learning architecture and project management.
        </p>
      </div>
	    <<div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>Developed a python tool which scrapes all websites including ones protected by the EV Certificate.
          </li>
          <li>
            Developed an ML model to give social credit scores to all near prime individuals in the banking sector.
          <li>
            Configured the Tesseract OCR library to extract information from bank details in pdf format.
    		</ul>
	    </div>
    </div>
  </div>
</section>
